#wp-widget, #wp-widget::after, #wp-widget::before {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.error{
    color: #B8312A;
    font-size: 10px;
}

.modal {
    position: fixed;
    right: 48px;
    bottom: 40px;
    transform: scale(0);
    transition: 200ms ease-in-out;
    border-radius: 16px;
    z-index: 10;
    background-color: white;
    width: 390px;
    max-width: 80%;
    overflow: hidden;
    padding-bottom: 53px;
    box-shadow: 0px 28px 56px -14px rgba(16, 24, 40, 0.25);
}

.modal.active {
    transform: scale(1);
}

.modal-header {
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #445A64;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.35rem;
    font-weight: bold;
    color: #fff;
}

.modal-footer {
    padding: 0 30px;
}

.modal-intro {
    text-align: center;
    margin: 30px 0;
}

.modal-intro span {
    font-weight: bold;
    font-size: 16px;
    color: #445A64;
}
.modal-intro p {
    font-weight: 600;
    font-size: 13px;
    color: #7C8C93;
}

.modal-form {
    width: 100%;
}

.modal-form label {
    display: block;
    font-weight: bold;
    font-size: 12px;
    color: #54616D;
    margin-bottom: 17px;
}

.modal-form .row {
    margin-bottom: 17px;
}

.modal-form .row input {
    width: 100%;
    background: #ECEFF0;
    border: 1px solid #DADEE0;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px;
    font-size: 14px;
    color: #445A64;
    font-weight: lighter;
    transition: all 0.3s ease-out;
}

.modal-form .row input:focus {
    background: #fff;
    outline: none;
    box-shadow: 0 0 10px #445a6417;
}

.modal-form .row input::placeholder {
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    color: #7C8C93;
}

.modal-form .row select {
    width: 100%;
    background-color: #ECEFF0;
    border: 1px solid #DADEE0;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 14px;
    font-size: 15px;
    color: #445A64;
    font-weight: lighter;
    transition: all 0.3s ease-out;
    -moz-appearance: none; /* Firefox */
    webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background-image: url("./components/arrow.svg");
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 14px;
}

.modal-form .row select::placeholder {
    font-style: normal;
    font-weight: lighter;
    font-size: 13px;
    color: #7C8C93;
}

.modal-form .row select:focus {
    background: #fff;
    background-image: url("./components/arrow.svg");
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 14px;
    outline: none;
    box-shadow: 0 0 10px #445a6417;
}

.modal-form input[type=submit] {
    background: #14D470;
    border: 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    padding: 17px 0;
    margin-top: 15px;
    transition: all 0.3s ease-out;
}

.modal-form input[type=submit]:hover {
    background: #1CEA7E;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.btn-widget-wp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    background: #445A64;
    border-radius: 8px;
    color: #fff;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
    transform: inherit;
    transition: all 0.3s ease-out;
}

.btn-widget-wp:hover {
    box-shadow: 0px 12px 45px -12px rgba(0, 0, 0, 0.5);
    transform: scale(1.05, 1.05);
}

.btn-widget-wp span {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width: 400px) {
    .btn-widget-wp {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 160px;
        padding: 12px 12px;
    }
    .btn-widget-wp span {
        font-size: 12px;
    }
    .modal {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 90%;
        max-width: 100%;
        bottom: 20px;
    }
    .modal-header {
        padding: 14px 22px;
    }
    .modal-footer {
        padding: 0 22px;
    }
    .modal-intro {
        margin: 20px ​0 30px;
    }
    .modal-intro p {
        font-size: 12px;
    }
    .modal-form label {
        margin-bottom: 8px;
    }
    .modal-form input[type=submit] {
        margin-top: 5px;
    }
}